.header {
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmlwM3BoaDI4MTExbDRiNXBycGYwdHZqM253aW90djM0N2lndGgyeiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/IyNRUs08UQsQxDst6g/giphy.gif');
    background-size: cover;
    background-position: center;
    padding: 50px 20px; /* Adjust padding for spacing */
    text-align: center;
  }
  
  .header-content {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
  }
  
  .header-content h1 {
    margin-bottom: 10px;
  }
  
  .input-group input {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input-group button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .books-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .book-item {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 4px;
  }
  
  .book-info {
    margin-bottom: 10px;
  }
  
  .delete-button {
    padding: 6px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  